:root {
  --primary: #000000;
  --secondary: #000000;
  --surface: #f5f5f5;
  --surface-variant: #fef7ff;
  --error: #fca5a5;
  --warning: #fde68a;
  --success: #86efac;
  --info: #93c5fd;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
